@charset "UTF-8";
	
h1 {
	margin: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; color: #463001; 
}

h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding: 12px;
	color: #875D03;
}
	
h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding: 12px;
	color: #AE8122;
	}
	
h4 {
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; padding: 12px; color: #AE8122; 
	}
	
h5  {
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; padding: 12px; color: #AE8122; 
	}
	
h6  {
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; padding: 12px; color: #AE8122; 
	}
body {
	width; 600px;
	padding; 1em;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #463001;
}
a {
	color: #875D03; text-decoration: none
}
	
nav {
		text-decoration: none; font-variant: small-caps; color:#463001;
	}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #f4a805;
	overflow: hidden;
	background-color: #463001;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #F4A805;
	color: black;
}

/* Add an active class to highlight the current page */
.active {
	background-color: #8AC202;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

img {
	width: fluid;
	border-bottom-color: #f4a805;
	margin-bottom: 10px;
    width: auto
}

header {
	border: none; padding: 0px; margin-bottom: 15px;
}
	
footer {
	border: 1px solid #f4a805;
	padding: 2em;
	font-size: 0.875em;
	font-style: italic;
	border-bottom-width: medium;
	border-bottom-color: #F4A805;
	box-shadow: 0 2px 10px .5 #F4A805; 
	background: #F3E9D3
}
.responsive {
    width: 100%;
    height: auto;
}
.body {
	width: 650px;
	height: auto;
	padding: 1em;
}
